body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    background-color: white;
    color: rgb(109, 101, 101);
    text-align: center;
    padding: 0;
    width: 100%;
}
header .nav-bar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 30px;
    background-color: white;
}
header .nav-bar .logo {
    display: flex;
    align-items: center;
}
header .nav-bar .menu {
    display: flex;
    gap: 20px;
    font-weight: bold;
}
header .nav-bar .menu a {
    text-decoration: none;
    color: rgb(100, 95, 95);
    font-size: 1rem;
    padding: 5px 10px;
}
header .nav-bar .menu a:hover {
    background-color: #45a049;
    border-radius: 5px;
}
header .nav-bar .auth-buttons {
    margin-left: auto;
}
header .nav-bar .auth-buttons a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px 15px;
    background-color: #555;
    border-radius: 5px;
    margin-left: 10px;
}
header .nav-bar .auth-buttons a:hover {
    background-color: #333;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.left-column {
    padding: 20px;
    width: 65%;
}

.right-column {
    padding: 20px;
    width: 35%;
}

h1 {
    color: #333;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    align-items: stretch;
}

button {
    background: linear-gradient(135deg, #95b3f4, #5d8fe1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
}
button:hover {
    background-color: #45a049;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
footer {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #f1f1f1;
}

/* 留言板樣式 */
.message-board {
    background-color: #fbf9f9;
    border: 2px solid #b8b7b7;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 1.5; /* 增加行距，提升可讀性 */
    word-wrap: break-word; /* 確保長文字換行 */
}

.message-board .message {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.message-board .message p {
    margin: 0;
}

.message-board .message .author {
    font-weight: bold;
}